<section class="pagination-container">
    <% if (pagination.currentPage !==1 && pagination.prevPage !==1) { %>
        <a href="?page=1" class="page-item">1</a>
        <% } %>
            <% if (pagination.hasPrevPage) { %>
                <a href="?page=<%= pagination.prevPage %>" class="page-item">
                    <%= pagination.prevPage %>
                </a>
                <% } %>
                    <a href="?page=<%= pagination.currentPage %>" class="active-page page-item">
                        <%= pagination.currentPage %>
                    </a>
                    <% if (pagination.hasNextPage) { %>
                        <a href="?page=<%= pagination.nextPage %>" class="page-item">
                            <%= pagination.nextPage %>
                        </a>
                        <% } %>
                            <% if (pagination.lastPage !==pagination.nextPage && pagination.lastPage
                                !==pagination.currentPage) { %>
                                <a href="?page=<%= pagination.lastPage %>" class="page-item">
                                    <%= pagination.lastPage %>
                                </a>
                                <% } %>
</section>