<header>
    <nav>
        <div class="nav-container">
            <ul class="nav">
                <li>
                    <a href="/" class="<%= path ==='/' ? 'active' : '' %>">Home</a>
                </li>
                <% if (isLoggedIn) { %>
                    <li>
                        <a href="/tasks" class="<%= path ==='/tasks' ? 'active' : '' %>">Tasks</a>
                    </li>
                    <li>
                        <a href="/tasks/add-task-page" class="<%= path ==='/tasks/add-task-page' ? 'active' : '' %>">Add
                            Task Page</a>
                    </li>
                <% } %>
            </ul>
        </div>
        <div class="auth-container">
            <ul class="auth">
                <% if (isLoggedIn) { %>
                    <li>
                        <form action="/logout" method="post">
                            <button id="logout" type="submit">Logout</button>
                        </form>
                    </li>
                    <% } else { %>
                        <li>
                            <a href="/login" class="<%= path ==='/login' ? 'active' : '' %>">Login</a>
                        </li>
                        <li>
                            <a href="/signup" class="<%= path ==='/signup' ? 'active' : '' %>">Signup</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </nav>
</header>