<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/add-task.css">
</head>
<body>
    <%- include("../includes/header.ejs") %>
    <main>
        <div class="form-container">
            <h2>Edit Task <%= task.title %></h2>
            <form action='/tasks/edit-task/<%= task._id %>' method='POST'>
                <label for="title">Task Title</label>
                <input type='text' name='title' id='title' required placeholder="Enter task title" value="<%= task.title %>">
    
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="4" placeholder="Enter task description"><%= task.description %></textarea>
    
                <label for="imageUrl">Image URL</label>
                <input type='url' name='imageUrl' id='imageUrl' placeholder="Enter image URL (optional)" value="<%= task.imageUrl %>">
    
                <button type='submit'>EDIT TASK</button>
            </form>
        </div>
    </main>
</body>

</html>