<!DOCTYPE html>
<html lang="en">
<%- include("../includes/head.ejs") %>
<link rel="stylesheet" href="/css/tasks.css">
</head>
    <body>
        <%- include("../includes/header.ejs") %>
            <main>
                <% if (tasks.length> 0) { %>
                    <div class="task-container">
                        <% tasks.forEach(task=> { %>
                            <div class="task-card">
                                <img src="<%= task.imageUrl ? "/"+ task.imageUrl : 'https://via.placeholder.com/100' %>" alt="Task Image" class="task-image">
                                <div class="task-content">
                                    <h3>
                                        <%= task.title %>
                                    </h3>
                                    <p>
                                        <%= task.description %>
                                    </p>
                                    <div class="task-actions">
                                        <a href="/tasks/edit/<%= task._id %>" class="edit-button">
                                            Edit
                                        </a>
                                        <form action="/tasks/delete" method="post">
                                            <input type="hidden" name="_csrf" value="<%= token %>">
                                            <input type="hidden" name="taskId" value="<%= task._id %>">
                                            <button type="submit" class="delete-button">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                    <% } %>
            </main>
            <section class="pagination-container">
                <% if (pagination.currentPage !== 1 && pagination.prevPage !== 1) { %>
                    <a href="/tasks/?page=1" class="page-item">1</a>
                <% } %>
                <% if (pagination.hasPrevPage) { %>
                    <a href="/tasks/?page=<%= pagination.prevPage %>" class="page-item">
                        <%= pagination.prevPage %>
                    </a>
                <% } %>
                <a href="/tasks/?page=<%= pagination.currentPage %>" class="active-page page-item"><%= pagination.currentPage %></a>
                <% if (pagination.hasNextPage) { %>
                <a href="/tasks/?page=<%= pagination.nextPage %>" class="page-item">
                    <%= pagination.nextPage %>
                </a>
                <% } %>
                <% if (pagination.lastPage !== pagination.nextPage && pagination.lastPage !== pagination.currentPage) { %>
                <a href="/tasks/?page=<%= pagination.lastPage %>" class="page-item">
                    <%= pagination.lastPage %>
                </a>
                <% } %>
            </section>
    </body>

</html>